body {
}

header {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1rem, 3cqi, 2rem);
}

table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 2px;
    text-align: left;
    vertical-align: top;
}
th {
    font-size: 0.8rem;
    border-bottom: 1px solid #ddd;
    padding-left: 4ch;
}
td {
    padding-left: 2ch;
    padding-bottom: .5ch;
}
a {
    color: #0066cc;
    text-decoration: underline;
}
a:hover {
}
img.icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: -2px;
}
